.grid-parent{
	display:grid;
	grid-template-rows: 300px 300px 100px 200px;
	grid-template-columns: 2fr 2fr 2fr 1fr;
}

.box1{
	color:white;
	grid-column: 1/3;
	grid-row: 1/2;
	background-color: #104E4E;
}
.box2{
	color:white;
	grid-column: 1/3;
	grid-row: 2/3;
	background-color: #238888;
}
.box3{
	color:white;
	grid-column: 3/7;
	grid-row: 1/2;
	background-color: #2A9FB3;
}
.box4{
	color:white;
	grid-column: 3/7;
	grid-row: 2/3;
	background-color: #55BBBB;
}
.box5{
	color:white;
	grid-column: 7/8;
	grid-row: 1/4;
	background-color: #8AACAC;
}
.box6{
	color:white;
	grid-column: 1/7;
	grid-row: 3/4;
	background-color: #AADDDD;
}
.box7{
	color:white;
	grid-column: 1/5;
	grid-row: 4/5;
	background-color: #A8FFFF;
}
.box8{
	color:white;
	grid-column: 5/7;
	grid-row: 4/5;
	background-color: #4BFFFF;
}